# Owners of the repository
* @aditya-07 @deepankarb @jingtang10 @kevinmost @ktarasenko @stevenckngaa @vvikramraj @yigit

# Owners of SDC library and catalog app
catalog/ @aditya-07 @deepankarb @jingtang10 @joiskash @kevinmost @ktarasenko @stevenckngaa @vvikramraj @yigit
datacapture/ @aditya-07 @deepankarb @jingtang10 @joiskash @kevinmost @ktarasenko @stevenckngaa @vvikramraj @yigit
