# Owners of the repository
* @jingtang10 @yigit @deepankarb @kevinmost @aditya-07 @stevenckngaa

# Owners of SDC library and gallery app
datacapture/ @jingtang10 @yigit @deepankarb @joiskash @kevinmost @aditya-07 @stevenckngaa
datacapturegallery/ @jingtang10 @yigit @deepankarb @joiskash @kevinmost @aditya-07 @stevenckngaa
