TEAM_ID=

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

// Optionally include `LocalConfig.xcconfig`
// that includes local overrides if it exists.
// `#include?` is supported as of Xcode 8

#include? "LocalConfig.xcconfig"

PRODUCT_NAME=SdcKmpDemo
DEVELOPMENT_TEAM=$(TEAM_ID)
PRODUCT_BUNDLE_IDENTIFIER=com.example.sdckmpdemo$(TEAM_ID)
