name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events for the `master` branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
   # Build will compile APK, test APK and run tests, lint, etc.
   build:

    runs-on: macos-latest # use mac build for emulator hardware accelerator
    
    strategy:
      matrix:
        api-level: [23, 29]
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Make files executable
      run: chmod +x ./gradlew && chmod +x ./fhirengine/checksum.sh

    - name: Generate cache key
      run: ./fhirengine/checksum.sh checksum.txt

    - name: Copy CI gradle.properties
      run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

    - uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/modules-2
        key: ${{ runner.os }}-gradlemodules-${{ hashFiles('checksum.txt') }}
        restore-keys: |
          ${{ runner.os }}-gradlemodules-
    - uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/jars-3
        key: ${{ runner.os }}-gradlejars-${{ hashFiles('checksum.txt') }}
        restore-keys: |
          ${{ runner.os }}-gradlejars-
    - uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/build-cache-1
        key: ${{ runner.os }}-gradlebuildcache-${{ hashFiles('checksum.txt') }}
        restore-keys: |
          ${{ runner.os }}-gradlebuildcache-

    - name: Spotless check
      if: matrix.api-level == 29  # don't spotless on older APIs
      run: ./gradlew spotlessCheck

    - name: Build with Gradle
      if: matrix.api-level == 29 # don't run full build on older APIs
      run: ./gradlew build
    - name: Run Integration Tests
      uses: ReactiveCircus/android-emulator-runner@v2.8.0
      with:
        api-level: ${{ matrix.api-level }}
        arch: x86_64
        script: ./gradlew connectedCheck --stacktrace
      
    - name: Upload build reports
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: build-reports
        path: fhirengine/build/reports
    - name: Upload build dir # this is good to diagnose issues
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: build-out
        path: fhirengine/build
   
    - name: Copy test results
      if: always()
      run: |
        mkdir -p test-output
        find . -type f -regex ".*[t|androidT]est-results/.*xml" -exec cp {} test-output/ \;
        
    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: test-results
        path: test-output
