# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events for the `master` branch
on:
  push:
    branches: [ master ]
    paths-ignore: 
      - '**.md'
      - 'CODEOWNERS'
      - 'LICENSE'
    tags:
      run_ci*
  pull_request:
    branches: [ master ]
    paths-ignore: 
      - '**.md'
      - 'CODEOWNERS'
      - 'LICENSE'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
   # Build will compile APK, test APK and run tests, lint, etc.
   build:

    runs-on: macos-11.0 # use mac build for emulator hardware accelerator
    
    strategy:
      matrix:
        api-level: [24, 27, 29, 30]
        include:
          - api-level: 30
            full-build: true
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Cancel previous
      uses: styfle/cancel-workflow-action@0.7.0
      with:
        access_token: ${{ github.token }}
    
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout Repo
      uses: actions/checkout@v2
      
    
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: "11"

    - name: Make files executable
      run: chmod +x ./gradlew && chmod +x ./engine/checksum.sh

    - name: Generate cache key
      run: ./engine/checksum.sh checksum.txt

    - name: Copy CI gradle.properties
      run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

    - name: Gradle module cache
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/modules-2
        key: ${{ runner.os }}-gradlemodules-${{ hashFiles('checksum.txt') }}
        restore-keys: |
          ${{ runner.os }}-gradlemodules-
    
    - name: Gradle jars cache
      uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/jars-3
        key: ${{ runner.os }}-gradlejars-${{ hashFiles('checksum.txt') }}
        restore-keys: |
          ${{ runner.os }}-gradlejars-
    - name: Gradle build cache
    - uses: actions/cache@v1
      with:
        path: ~/.gradle/caches/build-cache-1
        key: ${{ runner.os }}-gradlebuildcache-${{ hashFiles('checksum.txt') }}
        restore-keys: |
          ${{ runner.os }}-gradlebuildcache-

    - name: Spotless check
      if: ${{ matrix.full-build == true }}
      run: ./gradlew spotlessCheck

    - name: Build with Gradle
      if: ${{ matrix.full-build == true }}
      run: ./gradlew build

    - name: Run Integration Tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: ${{ matrix.api-level }}
        arch: x86_64
        emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
        disable-animations: true
        script: ./gradlew connectedCheck --stacktrace

    - name: Release artifacts to local repo
      run: ./gradlew publishReleasePublicationToCIRepository
    - name: Upload maven repo
      uses: actions/upload-artifact@v2
      with:
        name: maven-repository
        path: build/ci-repo
    - name: Upload build reports
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: build-reports
        path: engine/build/reports
    - name: Upload build dir # this is good to diagnose issues
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: build-out
        path: engine/build
   
    - name: Copy test results
      if: always()
      run: |
        mkdir -p test-output
        find . -type f -regex ".*[t|androidT]est-results/.*xml" -exec cp {} test-output/ \;
        
    - name: Upload test results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: test-results
        path: test-output
